
#button-start {
    background-color: #198754;
    color: black;
}

#button-pause {
    background-color: #ffc107;
    color: black;
}

#button-stop {
    background-color: #dc3545;
    color: black;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.time-row {
    font-size: 25px;
    color: #91ABBD;
}

#portfolio-table {
    color: #91ABBD;
    border-color: #575660;
}
