
.form {
    align-content: center;
}

.modal-content {
    background-color: #091030;
    border-color: #004770;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;

    margin-top: 20px;
    margin-bottom: 20px;

    width: 85%;
}

.btn-close {
    color: #91ABBD;
    background-color: #004770;
    opacity: 1;
}

.modal-header {
    border-bottom-width: 0px;
}

.modal-footer {
    border-top-width: 0px;
}

.list-group {
    width: 430px;
}

.list-group-item {
    background-color: #91ABBD;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px
}

.ticker-text {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-close.ticker-cancel-btn {
    background-color: #91ABBD;
    opacity: .5;
}

.ticker-error {
    color: #DB4F60;
    max-width: max-content;
}
