
body {
    background-color: #091020;
    color: #575660;
    padding: 40px;
    font-family: 'American Typewriter', serif;
}

/* form control style */
.form-control {
    background-color: #91ABBD;
    border-color: #004770;
    font-family: Arial, sans-serif;

    margin-top: 5px;
    margin-bottom: 5px;
    max-width: max-content;
}

.form-control:focus {
    background-color: #36A0C9;
}

.form-label {
    float: left;
    font-family: Arial, sans-serif;

    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* style when auto-complete is used in a form input */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill::first-line{
    -webkit-box-shadow: 0 0 0 30px #EFFFA0 inset;
    box-shadow: 0 0 0 30px #EFFFA0 inset; 
}

input:-webkit-autofill::first-line{
    font-family: Arial, sans-serif;
}

/* Form error message style */
.invalid-feedback {
    color: #DB4F60;

    max-width: max-content;
}

/* Button style */
.btn {
    background-color: #004770;
    border-color: #004770;
    color: #91ABBD;
    font-family: 'American Typewriter', serif;

    margin-top: 5px;
    margin-bottom: 5px;
}



