
.form {
    align-content: center;
}

.form-heading {
    font-family: Arial, sans-serif;
}

.signup-form.container,
.login-form.container {
    align-content: center;
    text-align: center;

    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #091030;
    border-color: #004770;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;

    margin-top: 20px;
    margin-bottom: 20px;

    width: 60%;
}
